@charset "utf-8";
/* CSS Document */
.image-mobile {display: none;}
@media only screen and (max-width:1200px) {
.center{width: 750px; float: none; margin-left: auto; margin-right: auto;}
.text_u{left:5%; top:0.7em;}
.text_s{right:8%;}
.dtl_text{margin-bottom:4em;}
.text_d_2{margin-top:0.8em; padding-right:0.35em;}
.abt_dtl::before{height:130px;}
.abt_dtl article{padding-top:8.6em; margin-bottom:2em;}
.text_u_2{padding-left:0.2em;}
.mid-content .table{width:90%; margin-left:3em;}
.studio_timing::before{margin-top:-10em; height:115px;}
.studio_timing{padding-top:30px;}

.footer_schedule{margin-top:-6em;}
.select_color ul{margin-left:7.9em;}
.schedule_cms{margin-left:6.2em;}
.schedule_cms h5:before{left:3.2em;}
.teacher_body .modal-dialog{float: none; margin-left: auto; margin-right: auto;}
.app-store .go_contact{width:40%; margin-bottom:15px;}
}

@media only screen and (max-width:991px) {
.nav_sec{margin-top:15px; margin-bottom:0;}
.center{width: 650px; float: none; margin-left: auto; margin-right: auto;}
.nav_sec .nav > li > a{padding:10px 11px;}
.banner_sec .slider_3{margin-top:-4.1em;}
.text_u{left:1%; font-size:10em; top:1.5em;}
.text_d{font-size:10em;}
.text_s{font-size:7em; right:2%;}
.slider_3 h2{font-size:24px;}
.slider_3 h1{font-size:28px;}
.slider_3 h3{font-size:18px;}
.banner_sec .slider_3:before{height:130px;}
.dtl_text{margin-top:-2em; margin-bottom:30px;}
.footer_banner ul, .banner_sec .slider_4{margin-top:0;}
.abt_banner .pad_manage_2, .abt_banner .pad_manage_3{display:none;}
.abt_banner .pad_manage{width:100%; display:block;}
.abt_banner .slider_5{width:100%; margin-left:0em;}
.abt_dtl::before{width:100%;}
.text_d_2 { margin-top: 0.9em; padding-right: 0.3em;}
.text_s_2{right:0.2em;}

/*.t_images1 .t_name2{position:relative; left:1em; bottom:1em;}
.t_images1 .txt_m_big{left:2.5em; bottom:-1.8em;}*/

.t_images2 .txt_d_big{left:0em;}
.t_images2 .t_name1{left:1.4em;}
.t_images2 .img2 img{width:220px;}
.t_images2 .img3 img{margin-top:7em;}

.t_images3 .t_name1{left:5.4em;}
.t_images3 .txt_b_big{left:0.3em;}
.t_images4 .txt_l_small{bottom:-0.5em;}

.tbl_schedule .table{width:98%;}
.select_color ul, .schedule_cms{margin-left:0.9em;}
.schedule_cms h5:before{left:-2.2em;}
.footer_schedule{margin-top:-1em;}

	/*---Safari 5.1-+---*/
_::-moz-svg-foreign-content, :root   .text_d_2{font-size:14em; margin-top:1.4em; padding-right:0em;}
_::-moz-svg-foreign-content, :root  .text_s_2{right:0.2em;}
_::-moz-svg-foreign-content, :root  .text_u_2{font-size:11em;}

}


@media only screen and (max-width:768px) {
	.logo a img{width:70%;}
	.abt_dtl{margin-top:-7.6em;}
	.abt_dtl::before{height:120px;}
	.text_d_2{font-size:14em; margin-top:1.4em; padding-right:0em;}
	.text_u_2{font-size:11em;}
	.text_s_2{font-size:7em; margin-top:6.5em;}
	.mid-content::before{display:none;}
	.mid-content .table{margin-top:0em; width:100%; margin-left:0em;}
	.mid-content .table > tbody > tr > td{font-size:16px;}
	.mid-content .table .th-width-2{width:40%;}
	.footer_studio p{padding-top:0em;}
	.opening-time{margin-left:0em;}
	
	.t_images1 .txt_m_big{left:0.9em; font-size:8em;}
	.t_images4 .txt_a_small{left:-0.4em;}
	.t_images4 .t_name2{left:-2em;}
	
	.t_images2 .t_name3{left:2em; bottom:-1.2em;}
	.schedule_cms h5:before{left:-0.2em; width:3%;}	
	
	.teacher_body .modal-body .col-xs-12{width:50%;}
	
	.ui-datepicker{width:15em !important;}
	.ui-datepicker table{font-size:.8em !important; width:90% !important;}
	.ui-datepicker td span, .ui-datepicker td a{height:28px !important; width:28px !important;}
	.ui-datepicker .ui-datepicker-title{font-size:.9em;}
	.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{top:45% !important;}
	.ui-datepicker td span, .ui-datepicker td a{padding-top:4px;}
	/*.tbl_schedule .table>tbody>tr>td:first-child{height:83px;}*/
	
	
}

@media only screen and (max-width:767px) {
.table-responsive {border:0;}
.nav_sec{margin-top:5px; margin-bottom:0px;}
.nav_sec .navbar-toggle{background:#333;}
.nav_sec .navbar-toggle:hover{background:#999;}
.nav_sec .navbar-toggle .icon-bar{background:#fff;}
.dtl_text{width:50%; margin-top:-3em;}
.banner_sec .slider_4{margin-top:-1.5em;}
.footer_banner ul li{font-size:18px;}


.nav_sec .navbar-nav{float:left !important;}

.navbar-collapse{/*width:50%;*/ right:0; background-color:#fff; border:0; position:absolute; z-index:999;}
.nav_sec .navbar-header{position:absolute; bottom:15px;}

.nav_sec ul li:last-child a{padding:5px 15px;}
.nav_sec .nav > li > a{padding:5px 15px;}
.map-sec{margin-top:1em;}
.studio_banner .col-sm-3{display:none;}
.studio_banner .col-sm-6{display:block; width:100%;}
.studio_banner{margin-top:0px;}

.t_images2 .t_name1{left:10.4em;}
.t_images2 .txt_d_big{left:0.7em;}
.t_images2 .t_name2{right:1.7em;}
.t_images2 .txt_m_small{right:0.5em;}
.t_images2 .img3 img{margin-top:0em;}

.t_images2 .txt_j_big{bottom:-0.2em; left:0.9em;}
.t_images2 .t_name3{left:13em; bottom:0.2em;}
.sed-col-res1{display:block; width:100%;}
.sed-col-res2{display:none;}
.tbl_schedule .table>tbody>tr>td{white-space:normal; min-width:98px;}

/* safari only*/
*::-ms-backdrop, .text_d_2 {;(
	font-size:10em; margin-top:1.4em; padding-right:0em;);
	}
	
	*::-ms-backdrop, .text_s_2 {;(
	right:0.2em;);
	}
	
	*::-ms-backdrop, .text_d_2 {;(
	font-size:6em;);
	}
	
	.logo{width:100%;}
	.social-link{display:block; padding-bottom:2em;}
	.social_icon{display:none;}
	.logo a{width:70%;}
	.logo a img{float:right !important;}
	/*header .center{max-width:610px;}*/
	header .center .row{padding-left:0; padding-right:0;}
	.center{width:620px;}
	.nav_sec .navbar{min-height:1px;}
	
	.nav_sec .navbar-collapse{ padding-right: 15px; margin-top: 0px; width: 122%; margin-right: -4.7em; padding-left: 6em;}
	.nav_sec .nav > li > a{font-size:24px; margin-bottom:1.4em; margin-top:1em;}

}

@media only screen and (max-width:736px) {
	.text_d_2{font-size:11em; margin-top:2em;}
	.text_u_2{font-size:9em; margin-top:3.9em;}
	.abt_dtl article{padding-top:0em; line-height:24px;}
	.update-content h3, .update-cms h4{font-size:18px;}
	.update-cms h4 em{font-size:16px;}
	.studio_timing::before{height:62px; margin-top:-6.5em;}
	.nav_sec .navbar-collapse {margin-right: -3.62em;}
}
@media only screen and (max-width:667px) {
.center{width: 550px; float: none; margin-left: auto; margin-right: auto;}
.banner_sec .slider_2{margin-top:-15.2em;}
.slider_3 h2{font-size:20px;}
.slider_3 h1{font-size:24px;}
.slider_3 h3{font-size:16px;}
.banner_sec .slider_3::before{height:110px;}
.banner_sec .slider_3{margin-top:-3.5em;}
.footer_banner ul{margin-top:10px;}
.bottom_txt{width:98%;}
.text_d_2{margin-top:1.7em; padding-right:0.05em;}
.text_s_2{margin-top:5.5em;}

.t_images4 .img2 img{width:280px;}
.t_images2 .txt_d_big{left:0.4em;}
.t_images2 .t_name1{left:6.4em;}

.schedule_cms{margin-top:30px;}
.schedule_cms article{margin-bottom:30px;}
.schedule_cms h5:before{left:0em; width:3%;}
.footer_schedule{margin-top:0em;}

	_::-moz-svg-foreign-content, :root  .center{width: 550px;}
	.nav_sec .navbar-collapse{padding-left:5em;}
	.app-store .go_contact{width:32%;}
	
	

}

@media only screen and (max-width:600px) {
	.banner_sec .slider_2{margin-top:-9.2em;}
	.text_u{top:1.3em;}
	.abt_dtl::before{height:100px; left:-3.9em;}
	.abt_dtl{margin-top:-5.6em;}
	.text_d_2{margin-top:1.2em; padding-right:0em;}
	.text_u_2{margin-top:2.9em; padding-left:0em;}
	.mid-content .table h3.top_space::before{width:50px; margin-left:-2.2em; display:inline-block; position:relative; vertical-align:middle;}
	.mid-content .table h3{font-size:18px;}
	.map-sec img{width:100%;}
	.studio_timing::before{height:50px; margin-top:-5.4em; margin-left:0em;}
	
	.t_images1 .txt_m_big{font-size:11em;}
	.t_images4 .img2 img{width:240px;}
	.nav_sec .navbar-collapse{margin-right:-1.25em; width:115%;}
	
	
	.teacher_body .modal-dialog{max-width:450px;}
	.teacher_body .modal-content:before{height:115px; top:-6.9em;}
	.teacher_body .modal-content:after{margin-bottom:2em;}
	.teacher_body .modal-dialog{width:540px;}
	.teacher_body .modal-content:after{height:110px;}

}

@media only screen and (max-width:575px) {
	.center{width: 100% !important; float: none; margin-left: auto; margin-right: auto;}
	.banner_sec .slider_3{margin-top:-3.1em;}
	.text_u, .text_d{font-size:8em;}
	.text_u{top:1.9em;}
	.text_s{font-size:5em;}
	.footer_top_space{margin-top:3em;}
	.abt_dtl article{margin-bottom:1em;}
	/*.footer-text .footer_sec p{color:#666;}*/
	.mid-content .table{margin-left:1em;}
	
	.t_images2 .txt_j_big{font-size:11em; left:1.1em;}
	.t_images1 .txt_m_big{font-size:10em;}
	/*.footer-text .left-margin p{color:#fff !important;}*/
	.nav_sec .navbar-collapse{margin-right:-1.16em;}
	.app-store .go_contact{display:block; width:100%;}
	
	/*.teacher_body .modal-dialog{width:450px;}*/
	/*.teacher_body .modal-content:before{border-top-right-radius:50%;}*/
	
	/*.teacher_body .modal-content:after{height:80px;}*/
	
}
@media only screen and (max-width:530px) {
	
	.footer_sec{margin-top:1em;}
	.text_d_2{font-size:10em;}
	.text_u_2{font-size:8em;}
	.text_s_2{font-size:5em;}
	.about_text{font-size:20px;}
	
	.t_images4 .img2 img{width:200px;}
	.t_images3 .txt_n_small{top:0.3em;}
	.t_images3 .t_name2{left:12.5em;}
	.t_images1 .img1 img, .t_images2 .img2 img{width:200px;}
	.t_images1 .img2 img{margin-top:2.9em;}
	.t_images1 .txt_m_big{font-size:7em; left:auto; right:1.2em;}
	.t_images2 .txt_m_small{font-size:5em; top:0.1em;}
	.t_images2 .t_name2{right:3.7em;}
	.schedule_cms h5:before{width:4%; left:0.2em;}
	.footer-text .left-margin{margin-top:-4em !important;}
	.teacher_body .modal-body .col-xs-12{width:100%;}
	.teacher_body .modal-body .col-xs-12 h3{margin-top:15px; margin-bottom:0px;}
}

@media only screen and (max-width:481px) {
	
	.banner_sec .slider_3{margin-top:-2.7em;}
	.text_u, .text_d{font-size:5em;}
	.text_s{font-size:4em;}
	.text_u, .text_s{margin-top:2.9em;}
	.text_d{margin-top:1.2em;}
	.text_d_2{font-size:9em;}
	.text_u_2{font-size:6em; margin-top:3.6em;}
	.text_s_2{font-size:4em; margin-top:7.5em;}
	.about_text{font-size:18px;}
	.footer_studio{margin-top:30px;}
	.footer-std-img{margin-top:-1em;}
	
	.ui-datepicker{width:14em !important;}
	.ui-datepicker table{font-size:.7em !important; width:85% !important;}
	.ui-datepicker td span, .ui-datepicker td a{height:26px !important; width:26px !important;}
	.ui-datepicker .ui-datepicker-title{font-size:.8em;}
	.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{top:42% !important;}
	.ui-datepicker td span, .ui-datepicker td a{padding-top:3px;}
	
	.teacher_body .modal-dialog{max-width:380px;}
	.teacher_body .modal-content:before{top:-5.5em; margin-left:-30px;}
	.teacher_body .modal-content{padding:30px;}
	.teacher_body .modal-content:after{margin-left:-30px;}
	.teacher-overlay p{margin-bottom:30px;}
	

}

@media only screen and (max-width:414px) {
	
	.col-res-1{display:none;}
	.dtl_text{width:100%;}
	.text_u, .text_s{margin-top:1.2em;}
	.text_d{margin-top:0.2em;}
	.banner_sec .slider_3 .carousel-inner{width:90%;}
	.banner_sec .slider_3 .carousel-inner{margin-left:2em;}
	.banner_sec .slider_3 .carousel-inner .item h3, .about_text .col-xs-10{max-width:100% !important;}
	.banner_sec .slider_3::before{left:-7em;}
	.banner_sec .slider_3{margin-top:-2.0em;}
	.abt_dtl::before{height:80px;}
	.abt_dtl{margin-top:-3.6em;}
	.abt_dtl article{margin-left:4em; width:76%; padding-top:4em;}
	.about_text .col-xs-10{padding:0;}
	.text_d_2{margin-top:0.9em;}
	.mid-content .table > tbody > tr > td, .update-content h3, .update-cms h4, .update-cms h4 em, .about_text p.name{font-size:14px;}
	.update-cms h4{line-height:24px;}
	.studio_timing::before{height:30px; margin-top:-3.9em;}
	.studio_timing .address h4{padding-left:2em; margin-left:-2em;}
	.teacher_body .col-xs-6{width:100%; display:block; margin-bottom:30px;}
	.teacher_body .col-xs-6 figure.pull-right{float:left !important; display:block;}
	.t_images1 .txt_j_small, .t_images1 .txt_m_big{font-size:5em; right:1.5em;}
	.t_images1 .t_name1{right:3em; left:auto;}
	 .t_images1 .t_name2, .t_images2 .t_name1,  .t_images3 .t_name1,  .t_images3 .t_name2{right:5em; left:auto;}
	 .t_images4 .txt_a_small, .t_images2 .txt_j_big{font-size:5em; left:auto; right:1.2em;}
	 .t_images3 .txt_b_big, .t_images3 .txt_n_small{left:auto; right:0.6em; font-size:5em;}
	.t_images2 .txt_d_big{right:1.2em; left:auto; font-size:5em; z-index:999;}
	.t_images4 .txt_l_small{bottom:0.5em; font-size:5em; right:1.2em;}
	.t_images4 .t_name2, .t_images2 .t_name3{left:auto; right:4.5em;}
	.t_images2 .txt_j_big{bottom:0.4em;}
	.t_images1 .t_name1, .t_images1 .t_name2, .t_images2 .t_name1, .t_images2 .t_name2, .t_images2 .t_name3, .t_images3 .t_name1, .t_images3 .t_name2, .t_images4 .t_name1, .t_images4 .t_name2{z-index:99;}
	.t_images1 .txt_j_small, .t_images1 .txt_m_big, .t_images2 .txt_d_big, .t_images2 .txt_m_small, .t_images2 .txt_j_big, .t_images3 .txt_b_big, .t_images3 .txt_n_small, .t_images4 .txt_l_small, .t_images4 .txt_a_small{z-index:80;}
	.t_images4 .img2 img{margin-left:0;}
	.t_images4 .t_name1{right:4em;}
	.t_images4 .img1 img, .t_images1 .img2 img{margin-top:0;}
	.t_images4 .t_name2{top:1.5em;}
	.t_images2 .t_name3{bottom:5.2em;}
	
	.t_images1 .img1 img, .t_images2 .img2 img, .t_images1 .img2 img, .t_images2 .img1 img, .t_images4 .img2 img, .t_images2 .img3 img, .t_images3 .img1 img, .t_images3 .img2 img, .t_images4 .img1 img{width:inherit; display: block; margin-left: auto; margin-right: auto;}
	
	.teacher_body .row{margin-bottom:0;}
	
	.app-store ul li:first-child{font-size:12px;}
	.schedule_cms h5:before{width:5%;}
	
	.nav_sec .navbar-collapse{padding-left:3em;}
	.bottom_txt{font-size:18px;}
	.teacher-overlay figure img{height:160px !important; width:auto !important; margin-top:-1em !important;}
	/*.teacher_body .modal-content::before{height:80px; margin-left:-7em; top:-5.4em;}*/
	
	.teacher_body .modal-dialog{width:350px;}
	.teacher_body .modal-content{padding:30px;}
	
	/*.teacher_body .modal-content:before, .teacher_body .modal-content:after{margin-left:-30px;}
	.teacher-overlay p{margin-bottom:30px;}*/
	
	.teacher_body .modal-content:before{top:-5.1em;}
	.teacher_body .modal-content{padding:15px;}
	.teacher_body .modal-content:before, .teacher_body .modal-content:after{margin-left:-15px;}
	
	.footer_sec p br, .footer_studio br{display:none;}
	
	.footer_schedule p{bottom:-4em; color:#333; margin-left:0;}
	.footer-text .left-margin{margin-top:2em !important;}
	.footer-text .footer_sec p{color:#333;}
	.left-margin{margin-left:0em;}
	.footer_studio{position:absolute; bottom:-9em; padding-bottom:15px;}
	.footer-std-img{margin-top:0em;}
	.nav_sec .nav > li > a{font-size: 26px;margin-bottom: 1.5em;}
	.image-mobile {display: block; width:100%; height:100%;}
	.image-mobile img { vertical-align: middle;}
	.image-desktop {display: none;}

}
@media only screen and (max-width:384px) {
	.logo a img{width:85%;}
	.banner_sec .slider_3{margin-top:-1.7em;}
	.banner_sec .slider_3 .carousel-inner .item{min-height:110px; margin-bottom:5px;}
	.col-res-2, .col-res-3{display:block; width:100%;}
	.footer_banner ul{text-align:left !important; margin-right:0em;}
	.footer_banner ul li{display:inline-block; position:relative; font-size:16px;}
	.banner_sec .slider_4{margin-top:0.5em;}
	.dtl_text{margin-top:0em; margin-bottom:5px;}
	.social_icon ul{text-align:left !important;}
	/*.nav_sec{position:absolute; z-index:999; right:15px; margin-top:-3.6em;}*/
	.navbar-toggle{padding:7px 8px;}
	.abt_banner .slider_5{margin-top:0em;}
	.abt_banner{margin-top:0px;}
	.abt_dtl{margin-top:-2.6em;}
	.text_d_2{margin-top:0.9em;}
	.update-content h3 span{display:block; width:100%; float:none !important;}
	.studio_banner{margin-top:15px;}
	.studio_timing .address{font-size:13px;}
	.app-store ul li:first-child{display:block; width:100%; margin-bottom:10px;}
	.select_color ul li span{height:20px; width:30px; margin-right:2px;}
	.schedule_cms{margin-top:20px;}
	.teacher_body .modal-dialog{width:280px; margin-top:7em;}
	.teacher-overlay p{margin-bottom:15px;}
	.teacher_body .modal-content:before{top:-4.1em;}
	.footer_sec p{font-size:11px;}

	.nav_sec .nav > li > a{font-size: 24px;margin-bottom: 1.4em;}
	
	.t_images1 .img1 img, .t_images2 .img2 img, .t_images1 .img2 img, .t_images2 .img1 img, .t_images4 .img2 img, .t_images2 .img3 img, .t_images3 .img1 img, .t_images3 .img2 img, .t_images4 .img1 img{width:auto;}
	

}

@media only screen and (max-width:375px) {
.studio_timing .open_time, .studio_timing .days{width:100%; display:block;}
	.studio_timing .open_time{line-height:18px; margin-top:-5px;}
	.studio-image figure{margin-top:0px;}
	.studio-image .col-xs-12, .update-cms, .update-cms-2{margin-top:15px;}
	.studio-image .clearfix{display:none;}	
}

@media only screen and (max-width:320px) {
	.banner_sec .slider_3{margin-top:-1.2em;}
	.slider_3 h2, .about_text, .bottom_txt{font-size:16px;}
	.slider_3 h1{font-size:20px;}
	.slider_3 h3, .footer_banner ul li, .abt_dtl article{font-size:14px;}
	.banner_sec .slider_3::before{height:60px;}
	.banner_sec .slider_3 .carousel-inner .item{margin-bottom:15px;}
	.text_d_2{font-size:7em; padding-right:0.2em; margin-top:1.0em;}
	.text_u_2{font-size:4em; margin-top:4.6em;}
	.text_s_2{font-size:3em;}
	.abt_dtl article{margin-bottom:0em;}
	.update-content h3, .update-cms h4, .update-cms h4 em, .update-cms-2 h5, .schedule_cms h5, .schedule_cms p{font-size:13px;}
	.update-cms p, .update-cms-2 h6, .update-cms-2 article, .update-cms-2{font-size:12px;}
	.footer_studio, .footer-text, .footer_sec{font-size:10px;}
	.update-cms p{line-height:24px;}
	.update-cms-2 p{margin-bottom:15px;}
	.update-cms-2 h6{margin-top:5px; margin-bottom:5px;}
	.update-cms-2 h5, hr{margin-top:5px;}
	
	.studio_timing::before{height:24px; margin-top:-3.2em;}
	
	.select_color ul li{margin-bottom:10px;}
	.schedule_cms{margin-top:10px;}
	.schedule_cms h5:before{width:7%;}
	.schedule_cms p{line-height:20px;}
	.schedule_cms h4{margin-bottom:0px; font-size:14px;}
	.schedule_cms h5{margin-bottom:10px;}
	.schedule_cms em{margin-top:5px;}
	.banner_sec .slider_3 .carousel-inner .item{min-height:100px; margin-bottom:5px;}
	
	.t_images1 .t_name2, .t_images2 .t_name1, .t_images3 .t_name1, .t_images3 .t_name2, .t_images4 .t_name1{right:4em; left:auto;}
	.t_images2 .txt_d_big, .t_images3 .txt_b_big, .t_images3 .txt_n_small, .t_images4 .txt_l_small {right:0.9em;}
	.nav_sec .navbar-header{bottom:5px;}
	.navbar-toggle{padding:4px 5px;}
	.nav_sec{margin-top:0px;}
	.tbl_schedule .table>tbody>tr>td:first-child{margin-top:-3px;}
	.tbl_schedule .table>tbody>tr.bdr-black>td{height:15px !important;}
	
	.nav_sec .navbar-collapse{padding-left:2.2em;}
	
	.teacher_body .modal-dialog{max-width:260px; margin-top:5em;}
	.teacher-overlay h3{font-size:16px;}
	.teacher_body .modal-content:before{top:-3.7em;}
	/*.teacher_body .modal-content:before, .teacher_body .modal-content:after{display:none;}
	.teacher-overlay figure img{margin-top:0em !important;}
	.teacher_body .modal-dialog{margin-top:2em;}
	.teacher_body .modal-content{border-radius:6px}*/
	
	.nav_sec .nav > li > a{font-size:16px;}
	
	.t_images1 .img1 img, .t_images2 .img2 img, .t_images1 .img2 img, .t_images2 .img1 img, .t_images4 .img2 img, .t_images2 .img3 img, .t_images3 .img1 img, .t_images3 .img2 img, .t_images4 .img1 img{width:100%;}
}

@media only screen and (max-width:291px) {
	.banner_sec .slider_3{margin-top:-0.6em;}
	.text_u, .text_d{font-size:3em;}
	.text_s{font-size:2em;}
	.text_u{margin-top:2.2em;}
	.dtl_text, .abt_dtl article, .update-content h3, .update-cms h4, .update-cms h4 em, .update-cms-2 h5, .schedule_cms h5, .schedule_cms p, .update-cms p, .update-cms-2 h6, .update-cms-2 article, .img-dlyn, .updog_upds p, .update-cms-2{font-size:12px; line-height:20px;}
	.text_d_2{font-size:5em;}
	.text_u_2{margin-top:3.6em;}
	.about_text{font-size:14px;}
	.abt_dtl::before{height:50px;}
	.abt_dtl{margin-top:-1.2em;}
	.abt_dtl article{padding-top:2em;}
	.studio_timing .open_time span{width:100%; display:block;}
	.footer-std-img{margin-top:0em;}
	.studio_timing::before{display:none;}
	.studio_timing .address h4{font-size:16px;}
	.rate-footer_img{display:none;}
	.footer-text .left-margin{margin-top:1em !important; margin-left:0em;}
	.footer-text .left-margin p{color:#666 !important;}
	.app-store ul li a img{margin-top:5px;}
	.nav_sec .navbar-collapse{width:118%;}
	
	.teacher_body .modal-dialog{max-width:200px;}
	.teacher_body .modal-content{padding:0px;}
	.teacher_body .modal-content:before{top:-2.8em;}
	.teacher-overlay figure img{height:120px !important; margin-top:0em !important;}
	.teacher_body .modal-content:before, .teacher_body .modal-content:after{margin-left:-15px;}
	
	.nav_sec .nav > li > a{font-size:24px; margin-bottom:1em;}
	.teacher_body .modal-content{padding:15px;}
}

@media only screen and (max-width:240px) {
	.footer_schedule p{font-size:10px; margin-left:10px;}
	.footer_studio, .footer-text, .footer_sec{font-size:10px;}
	.slider_3 h3{font-size:13px;}
	.slider_3 h2,  .bottom_txt{font-size:14px;}
	.slider_3 h1{font-size:16px;}
	.bottom_txt::before{margin-left:-20px;  width:15px;}
	.bottom_txt::after{margin-left:10px; width:15px;}
	.about_text p.name{margin-top:15px;}
	.select_color ul li{display:block; width:100%;}
	.schedule_cms article{margin-bottom:15px;}
	.schedule_cms h5:before{width:9%;}
	.banner_sec .slider_3 .carousel-inner .item{min-height:90px; margin-bottom:5px;}
	.studio_timing .open_time{font-size: 9px;}
	
	.ui-datepicker{width:12em !important;}
	.ui-datepicker table{font-size:.6em !important; width:80% !important;}
	.ui-datepicker td span, .ui-datepicker td a{height:24px !important; width:24px !important;}
	.ui-datepicker .ui-datepicker-title{font-size:.7em;}
	.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{top:40% !important;}
	.nav_sec .navbar-collapse{padding-left:1.2em;}
	.nav_sec .nav > li > a{font-size:12px;margin-top: 8px;padding: 0px 15px;margin-bottom: 0px;}

}

