@charset "utf-8";
/* CSS Document */

/*----------------------CenturyGothic Web Fonts-----------------------------------*/

/*----------------------CenturyGothic Regular-----------------------------------*/
@font-face
{
	font-family:"CenturyGothic_gdi";
	src: url('../fonts/CenturyGothic_gdi.eot');
    src: url('../fonts/CenturyGothic_gdi.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CenturyGothic_gdi.woff') format('woff'),
         url('../fonts/CenturyGothic_gdi.ttf') format('truetype'),
         url('../fonts/CenturyGothic_gdi.svg') format('svg');
    font-style: normal;
	font-weight: normal;
}

/*----------------------CenturyGothic-Bold-----------------------------------*/
@font-face
{
	font-family:"CenturyGothic-Bold";
	src: url('../fonts/CenturyGothic-Bold.eot');
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CCenturyGothic-Bold.woff') format('woff'),
         url('../fonts/CenturyGothic-Bold.ttf') format('truetype'),
         url('../fonts/CenturyGothic-Bold.svg') format('svg');
    font-style: normal;
	font-weight: normal;
}


/*----------------------roboto-bold-webfont-----------------------------------*/
@font-face
{
	font-family:"roboto-bold-webfont-webfont";
	src: url('../fonts/roboto-bold-webfont.eot');
    src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto-bold-webfont.svg') format('svg');
    font-style: normal;
	font-weight: normal;
}

/*----------------------roboto-medium-webfont-----------------------------------*/
@font-face
{
	font-family:"roboto-medium-webfont";
	src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg') format('svg');
    font-style: normal;
	font-weight: normal;
}


html{height:100%;}
body{font-family:"CenturyGothic_gdi"; color:#58595b; background:#fff; color:#231f20; height:100%; font-size:14px;}
.wrapper {min-height: 100%; position: relative;}
.footer-fix {width: 100%; position: absolute; bottom: 0; left: 0;}

a, a:hover, a:focus{text-decoration:none; outline:0 !important;}

ul{list-style-type:none; padding-left: 0;}
hr{border-color:#000; margin-bottom:5px;}
.error {
    color:#900;
}
/*------------------Font Family css------------------------------*/
.update-cms, .update-cms-2, .schedule_cms, .img-dlyn, .updog_upds p{font-family:"CenturyGothic_gdi";}
.update-cms-2 h5, .update-cms-2 h6{font-family:"CenturyGothic-Bold";}

/*------------------Color-css------------------------------*/
.nav_sec ul li a{color:#231f20;}
.social_icon li a{color:#231f20; margin-left:5px;}
.dtl_text h2, .slider_3{color:#414042;}
.abt_dtl, .abt_dtl article p, .update-cms, .update-cms-2 {color:#58595b;}


/*----------------Font----Size---css------------------------------*/
.footer_studio, .footer-text, .footer_sec{font-size:12px;}
.dtl_text, .abt_dtl article{font-size:14px;}
.update-cms p, .update-cms-2 p, .update-cms-2 h6{font-size:15px;}
 .banner_sec .slider_3 .carousel-inner .item ul, .yoga_rate ul, .update-cms-2 h5{font-size:18px;}
 .update-cms h4 em{font-size:20px;}
.social_icon li a, .about_text, .update-cms h4{font-size:24px;}
.footer_banner ul li{font-size:30px;}


/*----------------------Header-css-----------------------------------*/
header{background:#fff;}
.social_icon ul{display:block; width:100%; padding-top:30px;}
.social_icon ul li{display:inline-block; position:relative;}
.logo a img{width:50%; padding-top:30px;}
.nav_sec .navbar-collapse{width:100%;}
.social-link{display:none;}
.social-link a{font-size:24px; color:#231f20; margin-left:2px;}
.social-link a:first-child{margin-left:15px;}
.social-link a:hover{color:#999;}

/*----------------------Nav-css-----------------------------------*/
.nav_sec{display:block; margin-top:50px; margin-bottom:15px;}
.nav_sec ul li a{background:0;}
.nav_sec ul li:last-child a{padding-right:0;}
.nav_sec .nav > li > a{padding:10px 20px;}
.nav_sec .navbar-collapse{padding-right:0;}

/*----------------------Slider-css-----------------------------------*/
.banner_sec .slider_1{z-index:20;}
.banner_sec .carousel-inner img{width:100%;}
.banner_sec .slider_2{margin-top:-28.2em;}

.banner_sec .slider_3{z-index:30; margin-top:-7.1em;}
/*.banner_sec .slider_3 .carousel-inner .item{margin-top:3.6em; margin-left:9.6em;}*/
.banner_sec .slider_3 .carousel-inner{width:60%; margin-left:7.2em;}
.banner_sec .slider_3 .carousel-inner .item {min-height:160px;}
.banner_sec .slider_3 .carousel-inner .item h3{max-width:18em;}
.banner_sec .slider_item{padding-top:1.5em;}
.banner_sec .slider_item h1, .banner_sec .slider_item h2, .banner_sec .slider_item h3{margin-top:0; margin-bottom:0;}
h3.top_manage{margin-top:0em !important; margin-bottom:0 !important; padding-top:0em !important;}
.banner_sec .slider_3 .carousel-inner .item p{margin-bottom:0;}
.banner_sec .slider_3 .carousel-inner .item ul{list-style-type:disc; padding-left:20px;}
.banner_sec .slider_item h1{margin-top:5px; margin-bottom:5px;}
.banner_sec .slider_3:before{width:100%; content: " "; background-image: url(../images/slider_3_bg.png); background-repeat:no-repeat; position: absolute; left:-2em; height:160px;}

.banner_sec .slider_4{margin-top:-3.2em;}

/*.text_uds{position:absolute; width:100%; z-index:99;}
.u_txt, .d_txt, .s_txt{width:30.8%; display:inline-block; color:#bcbdc0; font-size:14em; font-family:"pts75f-webfont";}
.u_txt{color:#e6e7e8;}
.d_txt{color:#fff;}
.s_txt{font-size:10em;}*/

.text_u, .text_d, .text_s{display:block; position:absolute; color:#fff; z-index:99; font-size:10em; font-family:"roboto-bold-webfont-webfont";}
.text_u{margin-top:1em; left:13%; color:#e6e7e8; font-size:13em;}
.text_d{font-size:16em; left:50%; margin-top:0.1em;}
.text_s{margin-top:1.4em; right:17%; color:#bcbdbe;}

/*----------------------dtl-text----css-----------------------------------*/
.dtl_text{z-index:30; position:relative; width:70%; margin-top:0.5em; line-height:24px;}
.dtl_text h2{border-bottom:5px solid #333; padding-bottom:10px;}

.footer_banner ul{margin-top:4.5em; margin-right:2.5em; color:#bcbec0;}

.footer_sec{display:block; position:relative; margin-top:-5em;}



/*----------------------About-css-----------------------------------*/
.abt_banner{display:block; height:100%; margin-top:30px;}

.abt_banner figure img{width:100%; margin-top:2em;}
.abt_banner .slider_5{width:119%; z-index:20; margin-left:-4em; margin-top:-3em;}
.abt_banner .slider_5 img{width:100%;}
.abt_banner .pad_manage{padding:0;}
.abt_banner .pad_manage_2{padding-right:0;}
.abt_banner .pad_manage_3{padding-left:0;}
.abt_banner .pad_manage_3 img{margin-top:-1.7em; float:right; width:52%;}

.abt_dtl:before{width:120%; content: " "; background-image:url(../images/abt_info_bg.png); background-repeat:no-repeat; position: absolute; height:160px; left:-2.9em; z-index:99;}

.abt_dtl{margin-top:-8.6em; position:relative;}
.abt_dtl article {z-index:99; position:relative; padding-top:9.6em; padding-bottom:1em; margin-bottom:4em; margin-left:6em; line-height:28px; width:70%;}
.about_text p.name{font-style:italic;}
.bottom_txt{width:90%;}
.bottom_txt:before{ content: " "; background-image:url(../images/top.png); background-repeat:no-repeat; height:50px; width:40px; position:absolute; margin-left:-60px;}
.bottom_txt:after{ content: " "; background-image:url(../images/bottom.png); background-repeat:no-repeat; height:40px; width:40px; position:absolute; margin-left:30px; /*bottom:15px;*/}

.footer_top_space{margin-top:7em;}

.text_u_2, .text_d_2, .text_s_2{display:block; width:100%; position:absolute; color:#fff; z-index:99; font-size:10em; font-family:"roboto-bold-webfont-webfont";}
.text_u_2{margin-top:2.9em; padding-left:1.1em; color:#e6e7e8; font-size:13em;}
.text_d_2{font-size:18em; padding-right:0.9em; margin-top:1em;}
.text_s_2{margin-top:3.5em; right:1.2em; color:#bcbdbe;}


/*----------------------Rates-css-----------------------------------*/
.mid-content{margin-bottom:1em;}
.mid-content:before{content: " "; background-image:url(../images/rates-top-line.png); background-repeat:no-repeat; height:250px; width:88%; position:absolute;}
.mid-content .rate{width:70%; margin-left:9em;}
.mid-content .table{width:75%; margin-top:9em;  margin-left:3em;}
.mid-content .table .th-width-1{width:35%;}
.mid-content .table .th-width-2{width:45%;}
.mid-content .table .th-width-3{width:20%;}

.mid-content .table h3.top_space:before{content: " "; background-image:url(../images/rate-t-title-img.png); background-repeat:no-repeat; height:40px; width:60px;; position:absolute; margin-left:-2.2em;}
.mid-content .table thead th{border:0; font-weight:normal;}
.mid-content .table > tbody > tr > td{border-top:0; font-size:18px;}
.mid-content .table > tbody > tr > td em{font-style:normal; font-size:13px;}
.mid-content .table > tbody > tr > td h3.top_space{margin-top:50px;}

/*----------------------Studio-css-----------------------------------*/
.studio_banner{margin-top:30px;}
.studio_banner img{width:100%;}
.std_banner_2 figure{margin-top:-1em; width:100%;}

.studio_timing:before{width:85%; content: " "; background-image:url(../images/studio-white-bg.png); background-repeat:no-repeat; position: absolute; height:160px; z-index:99; margin-top:-11.0em; margin-left:0.5em;}
.studio_timing .address{border-left:4px solid #000;}
.studio_timing .address h4{border-bottom:2px solid #000; display:inline-block; padding-bottom:3px; color:#000; font-family:"CenturyGothic-Bold"; padding-left:5em; margin-left:-3em;}
.studio_timing .days, .studio_timing .open_time{display:inline-block; position:relative;}
.studio_timing .days{width:23%;}

.studio_timing .open_time{width:75%;}
.studio_timing .open_time span{width:42%; display:inline-block; position:relative;}
.studio_timing ul li{line-height:30px;}
.opening-time{margin-left:-3em; padding-right: 0px;}
.map-sec{margin-top:6em;}

.contact_form{display:block; width:100%; margin-top:50px; float: none; margin-left: auto; margin-right: auto; width:50%;}
.contact_form label{font-weight:normal; font-size:16px;}
.contact_form .btn-gray{display: block; width:100%; border-radius:4px; border:1px solid #363739; padding:5px 20px; color:#fff; background: #686868; background: -moz-linear-gradient(top, #686868 0%, #363739 100%);
background: -webkit-linear-gradient(top, #686868 0%,#363739 100%);
background: linear-gradient(to bottom, #686868 0%,#363739 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476ec8', endColorstr='#ffffff',GradientType=0 ); background-repeat: no-repeat; font-size:16px;}
.contact_form  .btn-gray:hover{ background: #363739; background: -moz-linear-gradient(top, #363739 0%, #686868 100%);
background: -webkit-linear-gradient(top, #363739 0%,#686868 100%); background: linear-gradient(to bottom, #363739 0%,#686868 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476ec8', endColorstr='#ffffff',GradientType=0 );  background-repeat: no-repeat;}
.contact_form h3, .buses h3{font-size:22px; color:#000; font-family:"CenturyGothic-Bold";}
.buses{float:right;}
.buses p{font-size:16px;}
.buses h3{margin-bottom:15px; font-size:22px;}
.buses span{font-family:"CenturyGothic-Bold"; padding-right:15px;}



/*---Safari 5.1-6---*/
_::-moz-svg-foreign-content, :root b{font-weight:normal; font-family:"roboto-medium-webfont";}


/*----------------------Update-css-----------------------------------*/
.update-content h3{border-bottom:3px solid #000; padding-bottom:10px; padding-top:10px; border-top:2px solid #999; margin-top:10px;}
.update-content h3 span{font-family:"roboto-medium-webfont";}
.studio-image figure{margin-top:30px;}
.studio-image figure img{width:100%;}
.update-cms, .update-cms-2{margin-top:30px;}
.update-cms p, .update-cms-2 p{line-height:28px;}
.update-cms h4{line-height:35px;}
.img-dlyn img{width:100%; margin-top:10px;}
.update-cms-2 p{margin-bottom:32px;}
.img-dlyn img{margin-bottom:15px;}

/*----------------------Teacher-css-----------------------------------*/
.teacher_body .row{margin-bottom:30px;}

.t_images1 .t_name1{display:inline-block; position:absolute; top:15px; right:0;}
.t_images1  .txt_j_small{display:inline-block; position:absolute; top:-0.3em; right:0.5em; font-size:8em; font-family:"CenturyGothic-Bold"; color:#e6e7e8;}
.t_images1 .img1 img{width:292px; height:auto; position:relative;}

.t_images1 .t_name2{display:inline-block; position:absolute; bottom:30px; left:13em;}
.t_images1  .txt_m_big{display:inline-block; position:absolute; bottom:0.2em; left:0.5em; font-size:13em; font-family:"CenturyGothic-Bold"; color:#f1f1f2; z-index:-999;}
.t_images1 .img2 img{ margin-top:9.5em; width:160px; height:auto; position:relative;}

/*------------------------------------------------------------------------------------------------------------------*/

.t_images2 .t_name1{display:inline-block; position:absolute; top:3.5em; left:9.4em; z-index:10;}
.t_images2  .txt_d_big{display:inline-block; position:absolute; top:-0.12em; left:0.4em; font-size:13em; font-family:"CenturyGothic-Bold"; color:#f1f1f2; z-index:-999;}
.t_images2 .img1 img{width:160px; height:auto; position:relative;}

.t_images2 .t_name2{display:inline-block; position:absolute; top:0; right:-5.2em;}
.t_images2 .txt_m_small{display:inline-block; position:absolute; top:-0.35em; right:-0.3em; font-size:8em; font-family:"CenturyGothic-Bold"; color:#e6e7e8;}
.t_images2 .img2 img{width:310px; height:auto; position:relative;}

.t_images2 .t_name3{display:inline-block; position:absolute; bottom:30px; left:13em; z-index:10;}
.t_images2  .txt_j_big{display:inline-block; position:absolute; bottom:-0.55em; left:0.66em; font-size:14em; font-family:"CenturyGothic-Bold"; color:#d1d3d4; z-index:-99;}
.t_images2 .img3 img{ margin-top:10.5em; width:160px; height:auto; position:relative;}

/*------------------------------------------------------------------------------------------------------------------*/

.t_images3 .t_name1{display:inline-block; position:absolute; top:3.5em; left:9.4em; z-index:10;}
.t_images3  .txt_b_big{display:inline-block; position:absolute; top:0.05em; left:0.55em; font-size:13em; font-family:"CenturyGothic-Bold"; color:#f1f1f2; z-index:-99;}
.t_images3 .img1 img{width:160px; height:auto; position:relative; z-index:10;}

.t_images3 .t_name2{display:inline-block; position:absolute; top:30px; left:16em;}
.t_images3  .txt_n_small{display:inline-block; position:absolute; top:-0.3em; left:1.35em; font-size:8em; font-family:"CenturyGothic-Bold"; color:#e6e7e8; z-index:-999;}
.t_images3 .img2 img{width:160px; height:auto; position:relative;}

/*------------------------------------------------------------------------------------------------------------------*/

.t_images4 .t_name1{display:inline-block; position:absolute; bottom:5.5em; right:12em; z-index:10;}
.t_images4  .txt_l_small{display:inline-block; position:absolute; bottom:-0.4em; right:1.3em; font-size:8em; font-family:"CenturyGothic-Bold"; color:#d1d3d4; z-index:-99;}
.t_images4 .img1 img{width:160px; height:auto; position:relative; z-index:10; margin-top:10.5em; margin-right:-15px;}

.t_images4 .t_name2{display:inline-block; position:absolute; top:6.5em; left:25em;}
.t_images4  .txt_a_small{display:inline-block; position:absolute; top:-0.4em; left:2.9em; font-size:8em; font-family:"CenturyGothic-Bold"; color:#e6e7e8; z-index:-99;}
.t_images4 .img2 img{width:310px; height:auto; position:relative; margin-left:15px;}

/*------------------------------------------------------------------------------------------------------------------*/
/*----------------------Teacher----popup---css-----------------------------------*/
.teacher_body .modal-content{box-shadow:none !important; border:0 !important; border-radius:0; background:#181819; color:#fff; border-top-left-radius:6px; padding:60px; padding-bottom:5px; padding-top:0px;}
/*.teacher_body .modal-header{border:0; margin-bottom:3.5em;}
.teacher_body .close{color:#fff; opacity:1; outline:none !important; font-size:30px;}
.teacher_body .modal-body p{font-size:13px;}*/
.modal{/*background:#757172 !important;*/}
.teacher_body .modal-dialog{margin-top:10em; max-width:562px;}
.teacher_body .modal-content:before{width:100%; content: " "; background-image:url(../images/poppup-top-bg.png); background-repeat:no-repeat; position: absolute; height:130px; top:-8.5em; margin-left:-60px; background-size:contain;}
.teacher_body .modal-content:after{width:100%; content: " "; background-image:url(../images/poppup-bottom-bg.png); background-repeat:no-repeat; position: absolute; height:134px; margin-left:-60px;  background-size:contain;}
.teacher-overlay figure img{height:160px !important; width:auto !important; margin-top:-2em !important;}
.teacher-overlay p{margin-bottom:60px; font-size:13px; text-align:justify;}
teacher-overlay h4{margin-top:30px; font-family:"CenturyGothic-Bold";}


/*----------------------Schedule-css-----------------------------------*/
.app-store{display: block; width: 100%;}
.app-store ul{margin-bottom:0;}
.app-store ul li{display:inline-block; position:relative; margin-left:5px;}
.app-store ul li a {color:#000000;}
.app-store ul li a img{width:80px; height:auto; vertical-align:middle;}
.app-store ul li:first-child{text-transform:uppercase;}
.app-store ul li:first-child img{width:30px;}
.app-store ul li a:hover img{opacity:0.8;}
.tbl_schedule .table{width:80%; margin-bottom:15px;}
.tbl_schedule .table>thead tr{vertical-align:text-bottom;}
.tbl_schedule .table>thead>tr>th{text-align:center; color:#d1d3d4; text-transform:uppercase; font-size:24px; font-family:"CenturyGothic-Bold"; padding-bottom:0; width:12.6%;}
.tbl_schedule .table>tbody>tr>td{border:0; border:4px solid #fff; border-bottom:6px solid #fff; border-top:6px solid #fff; background:#d1d3d4; height:60px; vertical-align:middle; font-size:11px; color:#000; font-family:"CenturyGothic-Bold"; text-align:center;}
.tbl_schedule .table>tbody>tr>td:first-child{background:#c2b59b; height:73px; margin-top:-3px;}

_::-moz-svg-foreign-content, :root .tbl_schedule .table>tbody>tr>td:first-child {height:88px;}

.tbl_schedule .table>tbody>tr.bdr-black>td {border:0 !important;/* border-top:1px solid #d1d3d4; border-bottom:1px solid #d1d3d4;*/ background:0 !important; height:0px !important; padding:0 !important;}
.tbl_schedule .table>tbody>tr.bdr-black>td div{height:15px !important;  background:#333 !important; display:block;}
.tbl_schedule .table>tbody>tr.bdr-black>td div.height-mng{border-left:5px solid#fff; position: absolute; width: 100px; z-index:99; margin-top:-7px;}
.tbl_schedule .table>tbody>tr>td em{font-style:normal;}
.tbl_schedule .table>tbody>tr>td p{text-transform:uppercase; font-size:10px; margin-bottom:0; min-height:30px;}

.tbl_schedule .table>tbody>tr.bdr-black>td:first-child{border:0 !important;}

th.th-width-a{position:absolute; height:42px; background:#fff; width:98px !important; border-bottom:0 !important;}

.select_color ul{text-align:left; margin-left:8.9em; font-size:12px; color:#000; font-family:"CenturyGothic-Bold";}
.select_color ul li{display:inline-block; position:relative; margin-right:10px;}
.select_color ul li span{height:23px; width:42px; display:inline-block; position:relative; vertical-align:middle; margin-right:5px;}
.select_color ul li span.color-heated, .tbl_schedule .table>tbody>tr>td.color-heated{background:#fbb040;}
.select_color ul li span.color-non-heated, .tbl_schedule .table>tbody>tr>td.color-non-heated{background:#72b5e4;}
.select_color ul li span.color-prenatal, .tbl_schedule .table>tbody>tr>td.color-prenatal{background:#f7a4a9;}

.schedule_cms{ color:#231f20; margin-top:50px; display:block; margin-left:7.9em;}
.schedule_cms h4, .schedule_cms h5{font-family:"CenturyGothic-Bold"; color:#231f20; margin-bottom:15px;}
.schedule_cms h5{text-transform:uppercase;}
.schedule_cms em{font-style:normal; font-size:10px; margin-top:10px; display:block; color:#58595b;}
.schedule_cms p{margin-bottom:0; line-height:24px;}
.schedule_cms article{display:block; margin-bottom:48px;}

.schedule_cms h5:before{width:100%; content: " "; background-image:url(../images/schedule_ttl_bg.png); background-repeat:no-repeat; position: absolute; left:5.2em; height:28px;}

.app-store .go_contact{display:inline-block; position:relative; width:50%;}
.app-store .go_contact a{font-size:13px; text-transform:none; margin-right:15px; color:#FC9905; border-bottom:1px solid #FBB040; padding-bottom:2px;}
.app-store .go_contact a:hover{color:#000;}


/*----------------------Footer-css-----------------------------------*/
.footer_studio p{padding-top:4em; margin-bottom:0;}
/*.footer-std-img{margin-top:-2em;}*/
.footer-std-img img{width:100%;}

.rate-footer_img img{width:100%;}
.footer-text .footer_sec p{color:#fff;}
.left-margin {margin-left:3em;}

.footer_schedule p{z-index:999; position:absolute; bottom:0; color:#fff; margin-left:30px; text-shadow: 0.5px 0.5px 0.5px #ccc;}
.footer_schedule{margin-top: -9em;}
.footer_schedule figure img{width:100%;}

/*----------------------Hover-css-----------------------------------*/
.nav_sec ul li a:hover, .nav_sec ul li a:focus, .nav_sec ul li.active a{color:#231f20; background:0; font-family:"CenturyGothic-Bold";}
.social_icon li a:hover{color:#999;}

/*----------------------Calendar-css-----------------------------------*/
.ui-widget-content{border:0;}
.ui-state-default, .ui-widget-content .ui-state-default{border-radius:100%; background:none; font-family:"CenturyGothic_gdi"; color:#000;}
.ui-datepicker td span, .ui-datepicker td a{text-align:center; padding:0; height:32px; width:32px; padding-top:5px;}
.ui-widget-header{border:0; border-radius:0; background:none;}
.ui-datepicker .ui-datepicker-title{color:#999; font-weight:normal; text-transform:uppercase; font-family:"CenturyGothic_gdi";}
/*.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{color:000; border:1px solid #000 !important; font-family:"CenturyGothic-Bold";}*/
.ui-datepicker th{color:#666; font-family:"CenturyGothic-Bold"; font-weight:normal;}
.ui-icon-circle-triangle-w{background-position:-96px 0px; opacity:0.5;}
.ui-icon-circle-triangle-e{background-position:-33px 0px; opacity:0.5;}
.ui-datepicker-prev-hover, .ui-datepicker-next-hover{background:none !important; border:0 !important; cursor:pointer;}

.ui-datepicker-calendar td.active a{color:000; border:1px solid #000 !important; font-family:"CenturyGothic-Bold";}



/*----------------------min-responsive-css-----------------------------------*/
@media (min-width:1200px){
	.container {width: 1056px;}
	.center{width: 800px; float: none; margin-left: auto; margin-right: auto;}
}

